nav{
    font-weight: bold;
}
nav ul{
    display: inline;
    list-style: none;
}

body{
    background-image: url("kepek/v3.jpg");
    color: #456280;
}
.oldal{
    background-color: #cfc6b5;
    border: 1px solid #506a85;
    border-top: 60px solid #506a85;
    width: 90%;
    margin: 0px auto auto auto;
    padding: 0px auto auto auto;

}
.kepek{
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-areas:  
    "k1 k2"
    "k3 k4";
}

.kep{
    border: 5px solid #506a85;
    width: calc(100% - 5px - 5px);
}

main{
    display: grid;
    grid-template-areas: 
    "r1 r2";
    
}

footer{
    background-color: #506a85;
    color: #f3efe9;
    text-align: center;
    padding: 10px;
}

/*Mobilnézet*/
@media screen {
    
}