body{
    background-image: url("kepek/v3.jpg");
    color: #456280;
}
.oldal{
    background-color: #cfc6b5;
    border: 1px solid #506a85;
    border-top: 60px solid #506a85;
    width: 90%;
    margin: 0px auto auto auto;
    padding: 0px auto auto auto;
}
.kepek{
    display: grid;
    gap: 5px;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas:  
    "k1 k2"
    "k3 k4";
}

.kep{
    display: block;
    float: left;
    margin: 1px auto 1px 1px;

    border: 5px solid #506a85;
    width: 100%;
}

main{
    display: grid;
    grid-template-areas: 
    "r1 r2"
    "r1 r3";
}

#k1{
    grid-area: k1;
}

#k2{
    grid-area: k2;
}

#k3{
    grid-area: k3;
}

#k4{
    grid-area: k4;
}